/* style.css */

html {
scroll-behavior: smooth;
}

body {
background-color: #C14B76;
background-image: none;
background-repeat: repeat;
}

header {
padding-bottom: 0;
}

h2 {
text-align: var(--justify-important);
}

section aside {
border: none;
}

.sticky {
position: -webkit-sticky;
position: sticky;
top: 0;
z-index: 100;
}

.flexRow {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.flexStart {
justify-content: flex-start;
}

.flexCol {
display: flex;
flex-direction: column;
justify-content: center;
}

.a-enter-ar, .a-enter-vr {
position: fixed;
}

#stickyBar {
padding: 0.25em;
background-color: #46c496;
height: 2.75em;
}

#stickyTitle h5 {
margin-bottom: 0;
margin-left: 0.25em;
--color: var(--h1-color);
justify-content: flex-start;
}

#stickyButton {
padding: 0.9em;
background-color: #C14B76;
}

#stickyTheme {
margin-bottom: 0;

}

#stickyIcon {
background-color: var(--background-color);
border-radius: 50%;
}

#contactButton {
display: flex;
justify-content: center;
}

#photo {
display: flex;
justify-content: center;
border-radius: 50%;
border: solid;
border-color: #46c496;
}

#topButton {
display: flex;
justify-content: center;
}

@media screen and (max-width: 600px) {
#stickyTitle h3 {
font-size: small;
}
}

#beginDiv{
position: absolute;
z-index: 1000;
background-color: #C14B76;
padding: 1.75em;
display: flex;
flex-direction: column;
list-style: none;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
border-radius: 15%;
}

#beginDiv li{
margin-bottom: 0.5em;
}

#expInfo{
display: none;
position: absolute;
z-index: 1000;
background-color: #C14B76;
padding: 1.75em;
flex-direction: column;
list-style: none;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
border-radius: 15%;
}

:root {
    --active-brightness: 0.45;
    --border-radius: 5px;
    --box-shadow: 2px 2px 10px;
    --color-accent: #118bee15;
    --color-bg: #fff;
    --color-bg-secondary: #e9e9e9;
    --color-link: #46c496;
    --color-secondary: #f2849e;
    --color-secondary-accent: #920de90b;
    --color-shadow: #393434;
    --color-table: #118bee;
    --color-text: #FFFFFF;
    --color-text-secondary: #999;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --hover-brightness: 1.2;
    --justify-important: center;
    --justify-normal: left;
    --line-height: 1.5;
    --width-card: 420px;
    --width-card-medium: 460px;
    --width-card-wide: 800px;
    --width-content: 1080px;
}